<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="SqlOmar" connectionString="Data Source=desktop-ul38rrg\omar;Initial Catalog=GameStroeProject;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="SqlMohammed" connectionString="Data Source=MOHAMMED\SQLEXPRESS;Initial Catalog=games;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>